POSTGRES_DB=xrag
POSTGRES_USER=xrag
POSTGRES_PASSWORD=change-me
DATABASE_POOL_MAX=20
REDIS_DB=0
WORKER_QUEUE_NAME=document-processing
WORKER_NAME=xrag-document-worker
WORKER_CONCURRENCY=2
LOG_LEVEL=info
STORAGE_REGION=us-east-1
STORAGE_BUCKET=xrag
APP_DOMAIN=xrag.coderlau.cn
STORAGE_PUBLIC_HOST=storage.xrag.coderlau.cn
STORAGE_PUBLIC_URL=https://storage.xrag.coderlau.cn
CONSOLE_PUBLIC_HOST=console.xrag.coderlau.cn
CONSOLE_BASICAUTH_USERNAME=admin
CONSOLE_BASICAUTH_PASSWORD_HASH=$$2y$$10$$mQhXgmqA0c/66a0ixsA9iOL02USstip1ffXy./tzGDp7TJfknHnua
MINIO_ROOT_USER=xrag
MINIO_ROOT_PASSWORD=change-me
