{$APP_DOMAIN} {
  encode zstd gzip

  reverse_proxy web:8080
}

{$STORAGE_PUBLIC_HOST} {
  reverse_proxy minio:9000
}

{$CONSOLE_PUBLIC_HOST} {
  basic_auth {
    {$CONSOLE_BASICAUTH_USERNAME} {$CONSOLE_BASICAUTH_PASSWORD_HASH}
  }

  reverse_proxy minio:9001
}
